---
layout: default
title: XYZops home
---
<h1>Rencontres à venir</h1>

{% for myEvent in site.events %}
{% if myEvent.start >= site.time %}
<h2><a href="{{ myEvent.url }}">{{ myEvent.title }} - {{ myEvent.start | date_to_string }}</a></h2>
<p><strong>Location: {{ myEvent.location }}</strong></p>
<p>{{ myEvent.summary }}</p>
{% endif %}
{% endfor %}

<h1>Rencontres passées</h1>

{% for myEvent in site.events %}
{% if myEvent.start < site.time %}
<h2><a href="{{ myEvent.url }}">{{ myEvent.title }} - {{ myEvent.start | date_to_string }}</a></h2>
<p><strong>Location: {{ myEvent.location }}</strong></p>
<p>{{ myEvent.summary }}</p>
{% endif %}
{% endfor %}
