---
layout: default
title: XYZops home
---
<h1>Bienvenue aux XYZops-ers sur {{ page.title }}! 👋</h1>

<h2>Prochaines rencontres:</h2>
{% assign nextEvent = "" %}
{% for myEvent in site.events %}
<!-- events are listed in ascending order -->
<!-- so first event to be after (now) is the next one -->
{% if myEvent.start >= site.time %}
{% assign nextEvent = myEvent %}
{% break %}
{% endif %}
{% endfor %}

{% if nextEvent == "" %}
<p><strong>Aucune rencontre programmée pour le moment. N'hésitez pas à nous contacter pour proposer un sujet!</strong></p>
{% else %}
<h2><a href="{{ nextEvent.url }}">{{ nextEvent.title }} - {{ nextEvent.start | date_to_string }}</a></h2>
<p><strong>Location: {{ nextEvent.location }}</strong></p>
<p>{{ nextEvent.summary }}</p>
{% endif %}
